
<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>List of cards</span>
    <span class="spacer"></span>

    <mat-form-field class="card-filter full-size" >
      <input matInput placeholder="Filter" [(ngModel)]="currentFilter">
      <button mat-button *ngIf="currentFilter" matSuffix mat-icon-button aria-label="Clear" (click)="currentFilter=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addCard()">
      Add card
    </button>
    <button mat-raised-button color="warn" (click)="saveSession()">
      Save session
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="reduced-size">
    <mat-form-field class="card-filter" >
      <input matInput placeholder="Filter" [(ngModel)]="currentFilter">
      <button mat-button *ngIf="currentFilter" matSuffix mat-icon-button aria-label="Clear" (click)="currentFilter=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <mat-card
          class="example-box"
          *ngFor="let card of data"
          [style.background-color]="card.color"
          [style.color]="isDark(card.color) ? 'white' : 'black'"
          (click)="openCard(card)"
          cdkDrag>
    <fa-icon *ngIf="card.faIcon() !== null" [icon]="card.faIcon()"></fa-icon>
    {{card.title}}
    <button mat-button class="close-button" (click)="removeCard(card)">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </mat-card>
</div>
