<mat-card [style.background]="tint(card.color, 90)">
  <mat-card-title>
    <fa-icon *ngIf="card.faIcon() !== null" [icon]="card.faIcon()" style="height: 20px;"></fa-icon>
    {{card.title}}
  </mat-card-title>
  <mat-card-content>
    <div class="main-fields">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Card Title</mat-panel-title>
            <mat-panel-description>{{card.title}}</mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput type="text" placeholder="Card title" [(ngModel)]="card.title">
          </mat-form-field>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Card Color</mat-panel-title>
            <mat-panel-description>
              <div>
                <span class="card-color" [(style.background)]="card.color"></span>
                {{card.color}}
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput type="text" placeholder="Card color" [(ngModel)]="card.color">
          </mat-form-field>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Card Icon</mat-panel-title>
            <mat-panel-description>{{card.icon}}</mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput type="text" placeholder="Card icon" [(ngModel)]="card.icon">
          </mat-form-field>

          <div><a mat-raised-button color="primary" href="https://fontawesome.com/icons?d=gallery">Check FontAwesome gallery</a></div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Additional Notes</mat-panel-title>
            <mat-panel-description>{{card.notes}}</mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field class="notes">
            <textarea matInput placeholder="Additional notes" [(ngModel)]="card.notes"></textarea>
          </mat-form-field>

        </mat-expansion-panel>

      </mat-accordion>
    </div>

    <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="openCount > 0">
      <mat-expansion-panel cdkDrag *ngFor="let field of card.fields"
                           (opened)="openCount = openCount + 1;"
                           (closed)="openCount = openCount - 1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{field.key}}
          </mat-panel-title>
          <mat-panel-description>
            {{field.hidden ? "*".repeat(field.value.length) : field.value}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput type="text" placeholder="Name" [(ngModel)]="field.key">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Value" [(ngModel)]="field.value">
        </mat-form-field>

        <div class="hidden-checkbox">
          <mat-checkbox [(ngModel)]="field.hidden">Hide value in the card summary</mat-checkbox>
        </div>

        <div class="field-actions">
          <button mat-raised-button color="primary" (click)="copyToClipboard(field)">
            <fa-icon [icon]="['far', 'clipboard']"></fa-icon>
          </button>
          <button mat-raised-button color="warn" (click)="removeField(field)">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>

      </mat-expansion-panel>

    </mat-accordion>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addField()">
        Add field
      </button>

      <button mat-raised-button color="accent" (click)="returnToList()">
        Return to list
      </button>

      <button mat-raised-button color="warn" (click)="copyToClipboard(card.fields[0])">
        Delete card
      </button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>

